<div class="container px-4 py-5" id="featured-3">
  <div class="text-center bg-light p-3">
     <div class="col-12">
      <div class=" first-div">
            <h3 class="text-center">About us</h3>
        
      <p>
        Aplicación destinada a cubrir la necesidad de compartir lugares y no olvidar un sitio determinado. Los usuarios registrados, podrán guardar lugares destacados para almorzar. Cada perfil de usuario, tendrá una lista de lugares, los cuales se guardarán en una base de datos. 
      </p>
       <p>Seguimos trabjando para mejorar la aplicación</p> 
      </div>
    </div>
  </div>
  <br>
  <div class="row g-4 py-4 row-cols-1 row-cols-lg-2">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img class="imagen" src="./assets/img/Logo.jpg" alt="">
      </div>
      <h3 class="fs-2">App description</h3>
      <p>Esta App es un proyecto final de grado. Aunque su idea original es demostar conocimientos adquiridos, creo que es una buena carta de presentación. La idea es seguir con esta App e ir transformandola, conforme los conocimientos sean mayores.</p>
      
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img class="imagen" src="./assets/img/yo.jpg" alt="">
      </div>
      <h3 class="fs-2">Nuestro personal</h3>
      <p>Me considero una persona trabajadora, con una gran capacidad de improvisar y aprender. 
        Gracias al tiempo invertido en el sector como freelance, tenido la posibilidad de adoptar y aprender diversas formas de trabajar, además de tomar muchos contactos en el mundo audiovisual
         que pudieran ser de gran utilidad en futuros puestos.</p>
      </div>
     
  </div>
</div>
  <div class="third_div">
    <div class="container w-50 centered">
        <div class="row text-center">
            <div class="col-12">
                <h1>Needs more info</h1>
            </div>
            <div class="col-12">
                <p>Send me an email to get more info about products</p>
            </div>
            <div class="col-8">
                <input type="email" class="form-control" id="email" placeholder="Enter yout email">
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-dark w-100"><strong>SEND</strong></button>
            </div> 
        </div>   

</div>