<!---Main-->
<div *ngIf="datoElegido">
  <div
    class="row border-top border-dark"
    [ngStyle]="{
      'background-color': datoElegido.fav === true ? '#1E6BA2' : '#F0F8FF ',
      color: datoElegido.fav === true ? 'white' : 'black'
    }"
  >
    <!---Informacion-->
    <div class="col-md-5">
      <img [src]="datoElegido.image" class="img" />
    </div>
    <div class="col-md-7 text-start">
      <br />
      <h2>
        {{ datoElegido.product }}
        <button
          class="btn btn-secondary btn-lg"
          (click)="Favoritos()"
          [ngStyle]="{
            color: datoElegido.fav === true ? 'red' : 'white'
          }"
        >
          ♥
        </button>
      </h2>
      <br />
      <div class="stars-outer">
        <div
          class="stars-inner"
          [style.width.%]="datoElegido.rating * 20"
          [ngStyle]="{
            color:
              datoElegido.rating > 4
                ? 'yellow'
                : datoElegido.rating <= 4 && datoElegido.rating >= 3
                ? 'orange'
                : 'red'
          }"
        ></div>
      </div>
      {{ datoElegido.rating }}
      <hr />
      <br />
      <h2>Precio {{ datoElegido.price }}  {{ datoElegido.currency }}</h2>
      <hr />
      <br />
      <a>Direccion: {{ datoElegido.address }}</a>
      <hr />
      <br />
      <a>Horario:  {{ datoElegido.schedule }}</a>
      <hr />
      <br />
      <a>Descripcion: </a>
      <br />
      {{ datoElegido.description }} 
      <br /><br />
      <hr/>
      <!-- <button type="button" class="btn btn-info mt-2" (click)="AnyadirCarro()"[routerLink]="['/carro',datoElegido.product]"> -->
       <button type="button" class="btn btn-info mt-2" (click)="AnyadirCarro()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        modificar 
      </button>
      &nbsp;
      <button type="button" class="btn btn-info mt-2" (click)="EliminaPeli()">
        Borrar
      </button>
    </div>
    <!---Similares-->
    <div class="col-md-12 border-top border-dark text-center pt-3 mb-3">
      <h1><u>Sitios Similares</u></h1>
    </div>
    <div class="col-md-6" *ngFor="let datas2 of datoElegido.similarProducts">
      <div class="row">
        <div class="col-md-6 justify-content-center mt-1 mb-1">
          <a (click)="AbrirDialogo(datas2)"
            ><img [src]="datas2.image" width="100%"
          /></a>
        </div>
        <div class="col-md-6">
          <h3>{{ datas2.product }}</h3>
          <div class="stars-outer">
            <div
              class="stars-inner"
              [style.width.%]="datas2.rating * 20"
              [ngStyle]="{
                color:
                  datas2.rating > 4
                    ? 'yellow'
                    : datas2.rating <= 4 && datas2.rating >= 3
                    ? 'orange'
                    : 'red'
              }"
            ></div>
          </div>
          <h5>{{ datas2.price }} {{ datas2.currency }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-12 border-top border-dark text-start pt-3 mb-3">
      <h1><u>Localización</u></h1>
    </div>
    <div class="col-md-12 mb-3 justify-content-center" >
      <google-map [center]="{lat: datoElegido.lat, lng: datoElegido.lng}">
        <map-marker 
        *ngIf="datoElegido"
        [position]= "{lat: datoElegido.lat, lng: datoElegido.lng}"
        [label]="label"
        [title]="title"
        >

        </map-marker>
      </google-map>
      <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [ngStyle]="{
        'background-color': datoElegido.fav === true ? '#1E6BA2' : '#F0F8FF ',
        color: datoElegido.fav === true ? 'white' : 'black'
      }">
        <h5 class="modal-title" id="staticBackdropLabel">Sitio a Modificar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [ngStyle]="{
        'background-color': datoElegido.fav === true ? '#1E6BA2' : '#F0F8FF ',
        color: datoElegido.fav === true ? 'white' : 'black'
      }">
         <div class="">
            <form  [formGroup]="userForm" autocomplete="off">
              <div class="row">
                <div class="">
                  <div class="form-group mb-3 d-flex justify-content-between col-md-12">
                    
                    <label for="Nombre">
                      Nombre del lugar
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ datoElegido.product }}"
                        [(ngModel)]="datoElegido.product"
                        formControlName="product"
                      />
                      <small *ngIf="validarCampo('product')" class="form-text text-danger"
                        >El nombre de ser mayor que 4 carácteres</small
                      >
                    </label>
                    <label for="Precio">
                      Precio aproximado 
                      <input
                        type="number"
                        class="form-control"
                        placeholder="{{ datoElegido.price }}"
                        [(ngModel)]="datoElegido.price"
                        formControlName="price"
                      />
                      <small *ngIf="validarCampo('price')" class="form-text text-danger"
                        >El precio debe ser mayor a 2€</small
                      >
                    </label>
                    <label for="address">
                      Direccion del lugar
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ datoElegido.address }}"
                        [(ngModel)]=" datoElegido.address "
                        formControlName="address"
                      />
                      <small *ngIf="validarCampo('address')" class="form-text text-danger"
                        >la direccion de ser mayor que 4 carácteres</small
                      >
                    </label>
                  
                  </div>
                  <div class="form-group mb-3 justify-content-between d-flex col-md-12">
                    <label for="schedule">
                      Horario del lugar
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ datoElegido.schedule }}"
                        [(ngModel)]="datoElegido.schedule"
                        formControlName="schedule"
                      />
                      <small *ngIf="validarCampo('schedule')" class="form-text text-danger"
                        >El nombre de ser mayor que 4 carácteres</small
                      >
                    </label>
                    
                    <label for="rating">
                      Estrellas
                      <input
                        type="number"
                        class="form-control"
                        placeholder="{{ datoElegido.rating }}"
                        [(ngModel)]="datoElegido.rating"
                        formControlName="rating"
                      />
                      <small *ngIf="validarCampo('rating')" class="form-text text-danger"
                        >El precio debe ser mayor a 2€</small
                      >
                    </label>
                    <label for="image">
                      Img URL
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ datoElegido.image }}"
                        [(ngModel)]=" datoElegido.image"
                        formControlName="image"
                      />
                      <small *ngIf="validarCampo('image')" class="form-text text-danger"
                        >la direccion de ser mayor que 4 carácteres</small
                      >
                    </label>
                    
                  </div>
                  
                  <div class="form-group mb-3 d-flex justify-content col-md-12">
                    <label for="lat" class="container">
                      Latitud del lugar
                      <input
                        type="number"
                        class="form-control"
                        placeholder="{{ datoElegido.lat }}"
                        [(ngModel)]="datoElegido.lat"
                        formControlName="lat"
                      />
                      <small *ngIf="validarCampo('lat')" class="form-text text-danger"
                        >la latitud no puede estar vacia</small
                      >
                    </label>
                    <label for="lng" class="container">
                      longitud del lugar
                      <input
                        type="number"
                        class="form-control"
                        placeholder="{{ datoElegido.lng }}"
                        [(ngModel)]="datoElegido.lng"
                        formControlName="lng"
                      />
                      <small *ngIf="validarCampo('lng')" class="form-text text-danger"
                        >la longitud no puede estar vacia</small
                      >
                    </label>
                    
                  
                  </div>
                  <div class="form-group mb-3 col-md-12">
                    <label
                      ><input type="checkbox" formControlName="fav" value="true" />Sitio
                      favorito</label
                    >
                  </div>
                  <div class="form-group mb-3 col-md-12">
                    <label for="Descripcion">
                      Descripcion del Sitio
                      <textarea
                        type="text"
                        class="form-control"
                        placeholder="datoElegido.description"
                        [(ngModel)]="datoElegido.description"
                        formControlName="description"
                        cols="83"
                        rows="3"
                      >
                      </textarea>
                      <small
                        *ngIf="validarCampo('description')"
                        class="form-text text-danger"
                        >El campo no puede estar vacio</small
                      >
                    </label>
                  </div>
                 
               
                </div>
              
              </div>
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit"  class="btn btn-primary" (click)="ModificarProducto()">Guardar</button>
      </div>
    </div>
  </div>
</div>
    </div>



    <!---Opiniones-->
    
    <!--<div class="col-md-12 border-top border-dark text-start pt-3 mb-3">
      <h1><u>Opiniones</u></h1>
    </div>
    <div class="col-md-12 mb-3" *ngFor="let datas3 of datoElegido.reviews">
      <div class="row">
        <div class="col-md-2">
          <img [src]="datas3.image" class="img-thumbnail" />
        </div>
        <div class="col-md-2">
          <h4>{{ datas3.name }}</h4>
          <div class="stars-outer">
            <div
              class="stars-inner"
              [style.width.%]="datas3.rating * 20"
              [ngStyle]="{
                color:
                  datas3.rating > 4
                    ? 'yellow'
                    : datas3.rating <= 4 && datas3.rating >= 3
                    ? 'orange'
                    : 'red'
              }"
            ></div>
          </div>
          <br />
          {{ datas3.date | date: 'MM-dd-YYYY hh:mm' }}
        </div>
        <div class="col-md-8">
          {{ datas3.opinion }}
        </div>
      </div>
      <hr width="100px" />
    </div>-->
  </div>
</div>
