
<div class="login" >
    <form class="custom-form" #miFormulario="ngForm" (ngSubmit)="login(miFormulario)" method="post">
      <h1>Login</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        class="form-control" ngModel
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        class="form-control" ngModel
        required="required"
      />
      <button type="submit" >Log in</button>
    </form>
  </div>