<div class="container">
  <div class="row">
      <div class="col-12">
          <h1 class="text-center" >Modificar Sitio</h1>
      </div>
      <div *ngIf="!datos[firstIndexModSitio]; else shopDiv"><br><br><br>
          <h4 class="text-center">No hay productos en la cesta</h4>
      </div>
      <ng-template #shopDiv>
      
          <div *ngFor="let productoShop of datos" class="col-4">
            <div class="col-md-7">
              <div class="form-group mb-3 d-flex justify-content-between col-md-12">
                  <div class="card-body">
                    <label for="Nombre">
                      Nombre del lugar
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{productoShop.product}}"
                        formControlName="product"
                      />
                      <small *ngIf="validarCampo('product')" class="form-text text-danger"
                        >El nombre de ser mayor que 4 carácteres</small
                      >
                    </label>
                    <label for="Precio">
                      Precio aproximado 
                      <input
                        type="number"
                        class="form-control"
                        placeholder="{{productoShop.price}}"
                        formControlName="price"
                      />
                      <small *ngIf="validarCampo('price')" class="form-text text-danger"
                        >El precio debe ser mayor a 2€</small
                      >
                    </label>
                    <label for="address">
                      Direccion del lugar
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{productoShop.address}}"
                        formControlName="address"
                      />
                      <small *ngIf="validarCampo('address')" class="form-text text-danger"
                        >la direccion de ser mayor que 4 carácteres</small
                      >
                    </label>
                  </div>
                  <div class="form-group mb-3 justify-content-between d-flex col-md-12">
                    <label for="schedule">
                      Horario del lugar
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{productoShop.schedule}}"
                        formControlName="schedule"
                      />
                      <small *ngIf="validarCampo('schedule')" class="form-text text-danger"
                        >El nombre de ser mayor que 4 carácteres</small
                      >
                    </label>
                    
                    <label for="rating">
                      Estrellas
                      <input
                        type="number"
                        class="form-control"
                        placeholder="{{productoShop.rating}}"
                        formControlName="rating"
                      />
                      <small *ngIf="validarCampo('rating')" class="form-text text-danger"
                        >El precio debe ser mayor a 2€</small
                      >
                    </label>
                    <label for="image">
                      Img URL
                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{productoShop.image}}"
                        formControlName="image"
                      />
                      <small *ngIf="validarCampo('image')" class="form-text text-danger"
                        >la direccion de ser mayor que 4 carácteres</small
                      >
                    </label>
                    
                  </div>
                  
                  <div class="form-group mb-3 d-flex justify-content col-md-12">
                    <label for="lat" class="container">
                      Latitud del lugar
                      <input
                        type="number"
                        class="form-control"
                        placeholder="{{productoShop.lat}}"
                        formControlName="lat"
                      />
                      <small *ngIf="validarCampo('lat')" class="form-text text-danger"
                        >la latitud no puede estar vacia</small
                      >
                    </label>
                    <label for="lng" class="container">
                      longitud del lugar
                      <input
                        type="number"
                        class="form-control"
                        placeholder="{{productoShop.lng}}"
                        formControlName="lng"
                      />
                      <small *ngIf="validarCampo('lng')" class="form-text text-danger"
                        >la longitud no puede estar vacia</small
                      >
                    </label>
                    
                  
                  </div>
                  <div class="form-group mb-3 col-md-12">
                    <label
                      ><input type="checkbox" formControlName="fav" value="true" />Sitio
                      favorito</label
                    >
                  </div>
                  <div class="form-group mb-3 col-md-12">
                    <label for="Descripcion">
                      Descripcion del Sitio
                      <textarea
                        type="text"
                        class="form-control"
                        placeholder="{{productoShop.description}}"
                        formControlName="description"
                        cols="83"
                        rows="3"
                      >
                      </textarea>
                      <small
                        *ngIf="validarCampo('description')"
                        class="form-text text-danger"
                        >El campo no puede estar vacio</small
                      >
                    </label>
                  </div>
                  <div class="form-group mb-3 d-flex justify-content-end col-md-12">
                    <button
                      type="submit"
                      [disabled]="userForm.invalid"
                      class="btn btn-primary justify-content-end"
                    >
                      Guardar
                    </button>
                  </div>
                  <!--<p *ngIf="formValue">{{ formValue | json }}</p>-->
                </div>
                
              </div>
          </div> 
      </ng-template>
  </div>
</div>

<!-- <div class="container mt-4">
    <form (ngSubmit)=" modificarProducto()" [formGroup]="userForm" autocomplete="off">
      <div class="row">
        <div class="col-md-7">
          <h1>Modificar Sitio</h1>
          <div class="form-group mb-3 d-flex justify-content-between col-md-12">
            <label for="Nombre">
              Nombre del lugar
              <input
                type="text"
                class="form-control"
                placeholder="Introduce nombre"
                formControlName="product"
              />
              <small *ngIf="validarCampo('product')" class="form-text text-danger"
                >El nombre de ser mayor que 4 carácteres</small
              >
            </label>
            <label for="Precio">
              Precio aproximado 
              <input
                type="number"
                class="form-control"
                placeholder="Introduce precio"
                formControlName="price"
              />
              <small *ngIf="validarCampo('price')" class="form-text text-danger"
                >El precio debe ser mayor a 2€</small
              >
            </label>
            <label for="address">
              Direccion del lugar
              <input
                type="text"
                class="form-control"
                placeholder="Introduce la direccion"
                formControlName="address"
              />
              <small *ngIf="validarCampo('address')" class="form-text text-danger"
                >la direccion de ser mayor que 4 carácteres</small
              >
            </label>
          
          </div>
          <div class="form-group mb-3 justify-content-between d-flex col-md-12">
            <label for="schedule">
              Horario del lugar
              <input
                type="text"
                class="form-control"
                placeholder="Introduce Horario"
                formControlName="schedule"
              />
              <small *ngIf="validarCampo('schedule')" class="form-text text-danger"
                >El nombre de ser mayor que 4 carácteres</small
              >
            </label>
            
            <label for="rating">
              Estrellas
              <input
                type="number"
                class="form-control"
                placeholder="Introduce puntuación"
                formControlName="rating"
              />
              <small *ngIf="validarCampo('rating')" class="form-text text-danger"
                >El precio debe ser mayor a 2€</small
              >
            </label>
            <label for="image">
              Img URL
              <input
                type="text"
                class="form-control"
                placeholder="Type URL here"
                formControlName="image"
              />
              <small *ngIf="validarCampo('image')" class="form-text text-danger"
                >la direccion de ser mayor que 4 carácteres</small
              >
            </label>
            
          </div>
          
          <div class="form-group mb-3 d-flex justify-content col-md-12">
            <label for="lat" class="container">
              Latitud del lugar
              <input
                type="number"
                class="form-control"
                placeholder="Introduce latitud"
                formControlName="lat"
              />
              <small *ngIf="validarCampo('lat')" class="form-text text-danger"
                >la latitud no puede estar vacia</small
              >
            </label>
            <label for="lng" class="container">
              longitud del lugar
              <input
                type="number"
                class="form-control"
                placeholder="Introduce longitud"
                formControlName="lng"
              />
              <small *ngIf="validarCampo('lng')" class="form-text text-danger"
                >la longitud no puede estar vacia</small
              >
            </label>
            
          
          </div>
          <div class="form-group mb-3 col-md-12">
            <label
              ><input type="checkbox" formControlName="fav" value="true" />Sitio
              favorito</label
            >
          </div>
          <div class="form-group mb-3 col-md-12">
            <label for="Descripcion">
              Descripcion del Sitio
              <textarea
                type="text"
                class="form-control"
                placeholder="Introduce descripcion"
                formControlName="description"
                cols="83"
                rows="3"
              >
              </textarea>
              <small
                *ngIf="validarCampo('description')"
                class="form-text text-danger"
                >El campo no puede estar vacio</small
              >
            </label>
          </div>
          <div class="form-group mb-3 d-flex justify-content-end col-md-12">
            <button
              type="submit"
              [disabled]="userForm.invalid"
              class="btn btn-primary justify-content-end"
            >
              Guardar
            </button>
          </div>
          <p *ngIf="formValue">{{ formValue | json }}</p>
        </div>
        <div class="col-md-5">
          <h1>Sitios Similares</h1>
          <hr />
          <div *ngFor="let datosPeli of datos" class="d-flex align-items-center">
            <div class="p-2"><input type="checkbox" formControlName="similarProducts" value=false/></div>
            <div class="p-2"><img src="{{ datosPeli.image }}" /></div>
            <div class="ml-auto p-2">{{ datosPeli.product }}</div>
          </div>
        </div>
      </div>
    </form>
  </div>
   -->