<!---Header-->
<div >
  <header
    class="d-flex align-items-right py-3 border-bottom border-dark "
  >
    <img
      src="/./assets/img/Logo.jpg"
      id="logo"
      class="offset-md-1"
    />

    <ul class="nav ml-5 col-md-auto offset-md-3">
      <li><a routerLink="/home" class="nav-link px-4 link-dark ">Home</a></li>
      <div class="v-line"></div>
      <li><a routerLink="/form" class="nav-link px-4 link-dark">Nuevo Sitio</a></li>
      <div class="v-line"></div>
      <li>
        <a routerLink="/guard" class="nav-link px-4 link-dark">Privado-Amigos</a>
      </li>
      <div class="v-line"></div>
      <li>
        <a routerLink="/recomendaciones" class="nav-link px-4 link-dark">Recomendaciones</a>
      </li>
      <div class="v-line"></div>
      <li>
        <a routerLink="/contact" class="nav-link px-4 link-dark">Contacto</a>
      </li>
    </ul>

  </header>
</div>
