
.fcc-btn {
    background-color: #262b3c;
    color: white;
    padding: 1px 15px;
    text-decoration: none;
    cursor: pointer;
    border: none;
  }
  .imagen{
    width: 350px;
    height: 350px;
  }