<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Recomendaciones</h1>
        <p class="lead text-body-secondary">Basadas en nuestra experiencia, os iremos recomendando lugares para Almorzar como toca. Además Os pondremos sitios apra poder comer y cenar, si os quedáis con hambre</p>
        </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="imagen" src="./assets/img/GarajeFoodie.jpg" alt="">
            <div class="card-body">
              <p class="card-text">El mercado gastronómico de food trucks, ambientado en un taller mecánico de los 60 e inaugurado el pasado mes de octubre en Valencia, se alía con Glovo para la puesta en marcha de este servicio y ofrece premios en todos los pedidos delivery.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a target="_blank" class="fcc-btn" href="https://elgarajefoodie.com/">Ir a su web</a>                  
                </div>
                <br/>
                <small class="text-body-secondary">Calle del Doctor Ferran 10, 46021, Valencia</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="imagen" src="./assets/img/jofremar.jpg" alt="">
            <div class="card-body">
              <p class="card-text">En este restaurante, te ofrecerán cocina peruana a precio muy asequible, una excelente relación calidad-precio. Aquí te van a ofrecer un ceviche de pescado singular. Este lugar es famoso por su sensacional pisco sour.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a target="_blank" class="fcc-btn" href="https://www.instagram.com/restaurante_peruano_valencia/?hl=es">Ir a su web</a>                  
                </div>
                <br/>
                <small class="text-body-secondary">Calle Marqués de Zenete, 17, 46007 Valencia</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="imagen" src="./assets/img/masaMadre.jpg" alt="">
            <div class="card-body">
              <p class="card-text">Pizzería más a añadir a la lista. Pizza crujiente pero muy alveolada, con masa madre de larga fermentación, productos de gran calidad y sabores que te transportan a Italia. Una variedad de pizzas increíble.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a target="_blank" class="fcc-btn" href="https://www.instagram.com/masamadre_valencia/">Ir a su web</a>                  
                </div>
                <br/>
                <small class="text-body-secondary">Carrer de Baix, 20, 46003 València</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="imagen" src="./assets/img/aljuzama.jpg" alt="">
            <div class="card-body">
              <p class="card-text">Dulces artesanos, cuscús de cordero o tajín de ternera en cálido salón con arcos y objetos decorativos árabes, Todo casero, con menu de degustación donde poder probar el tajin de pollo o de ternera.Un sitio muy agradable para cualquier tipo de evento.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a target="_blank" class="fcc-btn" href="https://www.aljuzama.com/">Ir a su web</a>                  
                </div>
                <br/>
                <small class="text-body-secondary">Plaça del Xúquer, 10, 46021 Valencia</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="imagen" src="./assets/img/matahari.jpg" alt="">
            <div class="card-body">
              <p class="card-text">De las mejores croquetas que peudes probar en valencia. Gran variedad en croquetas, hasta existe el postre "la Chocreta".Se recomienda reservar los fines de semana. Sitio barato para poder disfrutar de una buena noche de amigos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a target="_blank" class="fcc-btn" href="https://www.instagram.com/croqueteria_mata_hari/?hl=es">Ir a su web</a>                  
                </div>
                <br/>
                <small class="text-body-secondary">Calle del Beat Nicolau Factor, 25, 46018</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="imagen" src="./assets/img/astronomo.jpeg" alt="">
            <div class="card-body">
              <p class="card-text">El Astrónomo fue el restaurante que puso a Patraix en el mapa. Creo que todo el mundo que conozco ha ido al menos una vez, es un lugar común. La carta algo escasa pero todo muy rico. No es un sitio barato, pero para una cena romantica no fallaras</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a target="_blank" class="fcc-btn" href="https://www.instagram.com/elastronomo/?hl=es">Ir a su web</a>                  
                </div>
                <br/>
                <small class="text-body-secondary">Calle de Jeroni Munyós, 15, 46007 València</small>
              </div>
            </div>
          </div>
        </div>

     
        
      </div>
    </div>
  </div>
